//
//   Last Update: 23 Aug 2016
// Xcode Version: 8 beta 6 (8S201h)
// Swift Version: 3 beta 6
//


ONLY_ACTIVE_ARCH = YES

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

GCC_OPTIMIZATION_LEVEL = 0

WARNING_CFLAGS = -Wall -Weverything -Wextra

ENABLE_NS_ASSERTIONS = YES

GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 DEBUG

SWIFT_OPTIMIZATION_LEVEL = -Onone

SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG

OTHER_SWIFT_FLAGS = -D DEBUG -Xfrontend -debug-time-function-bodies

RUN_CLANG_STATIC_ANALYZER = NO
CLANG_STATIC_ANALYZER_MODE_ON_ANALYZE_ACTION = deep
CLANG_STATIC_ANALYZER_MODE = deep


//
// Security: No Strip
//
GENERATE_MASTER_OBJECT_FILE = NO

DEPLOYMENT_POSTPROCESSING = NO

COPY_PHASE_STRIP = NO

STRIP_INSTALLED_PRODUCT = NO

SEPARATE_STRIP = NO

DEAD_CODE_STRIPPING = NO

GCC_GENERATE_DEBUGGING_SYMBOLS = YES

STRIP_STYLE = all

STRIPFLAGS =

