//
//   Last Update: 23 Aug 2016
// Xcode Version: 8 beta 6 (8S201h)
// Swift Version: 3 beta 6
//


ONLY_ACTIVE_ARCH = NO

DEBUG_INFORMATION_FORMAT = dwarf

GCC_OPTIMIZATION_LEVEL = fast

WARNING_CFLAGS = -Wall -Weverything -Wextra

ENABLE_NS_ASSERTIONS = NO

GCC_PREPROCESSOR_DEFINITIONS =

SWIFT_OPTIMIZATION_LEVEL = -Owholemodule

SWIFT_ACTIVE_COMPILATION_CONDITIONS =

OTHER_SWIFT_FLAGS = -Xfrontend -debug-time-function-bodies

RUN_CLANG_STATIC_ANALYZER = NO
CLANG_STATIC_ANALYZER_MODE_ON_ANALYZE_ACTION = deep
CLANG_STATIC_ANALYZER_MODE = deep


//
// Security: Strip
//
GENERATE_MASTER_OBJECT_FILE = YES

DEPLOYMENT_POSTPROCESSING = YES

COPY_PHASE_STRIP = YES

STRIP_INSTALLED_PRODUCT = YES

SEPARATE_STRIP = YES    

DEAD_CODE_STRIPPING = YES

GCC_GENERATE_DEBUGGING_SYMBOLS = NO

STRIP_STYLE = non-global

STRIPFLAGS = -x

